{

 :main [

        {:des "CAPSLOCK is HYPER if pressed in combination, otherwise ESC"
         :rules [
                  [:##caps_lock [:!QWEright_shift] nil {:alone :escape}]
                 ]
         }
        {:des "hyper letter to open apps"
         :rules [
                 [:!QWERs "open -a 'Safari.app'"]
                 [:!QWERm "open -a 'Mail.app'"]
                 [:!QWERo "open -a 'Obsidian.app'"]
                 [:!QWERa "open -a 'ChatGPT.app'"]
                 [:!QWERr "open -a 'Reminders.app'"]
                 [:!QWERc "open -a 'Calendar.app'"]
                 [:!QWERd "open -a 'Discord.app'"]
                 [:!QWERw "open -a 'Whatsapp.app'"]
                 [:!QWERv "open -a 'MacVim.app'"]
                 [:!QWERf "open -a 'Finder.app'"]
                 [:!QWERt "open -a 'Terminal.app'"]
                 [:!QWERcomma "open -a 'System Settings.app'"]
                 ]
         }

        {:des "hyper-u/n/; to switch input source with im-select"
         :rules [
                 ;; Hyper+u → US layout
                 [:!QWERu "/opt/homebrew/bin/im-select com.apple.keylayout.US"]

                 ;; Hyper+j → Japanese layout
                 [:!QWERn "/opt/homebrew/bin/im-select com.apple.inputmethod.Kotoeri.RomajiTyping.Japanese"]

                 ;; Hyper+; → Swedish layout
                 [:!QWERsemicolon "/opt/homebrew/bin/im-select com.apple.keylayout.Swedish-Pro"]
                 ]}

        {:des "hyper-hjkl for arrow keys"
         :rules [
                 [:!QWERh :left_arrow]
                 [:!QWERj :down_arrow]
                 [:!QWERk :up_arrow]
                 [:!QWERl :right_arrow]
                 ]}

 ]
}
